html{
  font-size:100%;
}



.LoginAndRegister {
  padding-right: 1.5em;
  text-align: right;
  border-top:1em;
  height: 0em;
  font-size: 1rem;
  font-family: "Lucida Console", Monospace;
  background-color: #FFFFFF;
}


.LoginBut{
  transform: translate(-10%,0%);
  background-color: #f20457; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.LoginBut:hover{
  background-color: purple;
}



.RegisterBut{
  background-color: #f20457; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.RegisterBut:hover{
  background-color: purple;
}

.ProfileButton{
  background-color: #4b2366 ; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.ProfileButton:hover{
  background-color: #f20457;
}

body{
background-image: url('../assets/background9.jpeg');
background-position: left top;
background-attachment: local;
}


.menu {
  padding-left: 4em;
  height: 1.5em;
  border-bottom: 5px solid #f20456;
  font-size: 1.6rem;
  font-family: "Lucida Console", Monospace;
  color: #040404;
  text-decoration:none;
}
.icon{
  position: absolute;
  left: 45px;
  top:1px;
}

.era{
  position: relative;
  left:-65px;
  top:-30px;
}

.era1{
  display:block;
  margin:auto;
}

.menu a:nth-child(1):before{
  padding:1em;

}
.menu a:nth-child(2):before{
  padding:1em;
  content:"|";

}

.menu a:nth-child(3):before{
  padding:1em;
  content:"|";

}
.menu a:nth-child(1){
    text-decoration: none;
    color: #4b2366;
  }
.menu a:nth-child(2){
      text-decoration: none;
      color: #4b2366;
    }
    .menu a:nth-child(3){
          text-decoration: none;
          color: #4b2366;
        }





 h1 {
    text-align: center;
    font-size: 1.9rem;
    font-family: "Lucida Console", Monospace;
    color: #4b2366;
  }

  .form{
    text-align: center;
    color: #4b2366;
    font-family: "Lucida Console", Monospace;
  }

  footer{
    color: #4b2366;
    font-family: "Lucida Console", Monospace;
    text-align: right;
    padding-right: 15px;
  }

  h3 {

     text-align: center;
     font-size: 1.3rem;
     font-family: "Lucida Console", Monospace;
     color: #f20457;
   }

   h4 {
     text-align: center;
      font-size: 1rem;
      font-family: "Lucida Console", Monospace;
      color: #2c3a5b;
    }

    h5 {
       text-align: center;
       font-size: 1rem;
       font-family: "Lucida Console", Monospace;
       color: #2c3a5b;

     }

     h6 {
       text-align: center;
       padding-left: 2em;
        font-size: 1rem;
        font-family: "Lucida Console", Monospace;
        color: #2c3a5b;

      }

      table{
        position: absolute;
        transform: translate(-50%,0%);
        left: 50%;
        border-collapse: collapse;
      }

      table, td{
        font-family: "Lucida Console", Monospace;
        color: #4b2366;
        border: 1px solid #4b2366;
        padding:6px;
      }


      tr:nth-child(odd){
        background-color: #f0f0f0;
      }
      tr:nth-child(even){
        background-color: #ffe2eb;
      }


   p {
     font-size: 1rem;
     font-family: "Lucida Console", Monospace;
     color: #792d87;
   }

   .button {
     position: absolute;
     left:50%;
     transform: translate(-50%,0%);
    background-color: #f20457; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.buttonHow {
  position: absolute;
  left:50%;
  transform: translate(-50%,0%);
 background-color: #f20457; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 font-family: "Lucida Console", Monospace;
 margin: auto;
}


.buttonHow:hover{
  background-color: purple;
}

.button:hover{
  background-color: purple;
}


.buttonDelete:hover{
  background-color: purple;
}


.buttonDelete {
 background-color: #f20457; /* Green */
 border: none;
 color: white;
 padding: 10px 24px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;

}

.buttonDelete{
  position: absolute;
  left: 52%;

}

.buttonManage {
 background-color: #f20457; /* Green */
 border: none;
 color: white;
 padding: 10px 24px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;

}

.buttonManage{
  position: absolute;
  left: 50%;
  transform: translate(-80%,0%);

}
.actions{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  font-family: "Lucida Console", Monospace;
  font-size: 1.0rem;
  color: #ffffff;
  display: flex;
  padding-left: 0;

}


.todolist{
  text-align: center;
}



.todolistoptions{
  display: flex;
}

ul{
  font-family: "Lucida Console", Monospace;
  font-size: 1.2rem;
  color: #ffffff;
}

.todolists{
  text-align: center;
}

@media (max-width: 500px) {
  .menu {
    height: 3em;
    border-bottom: 5px solid #f20456;
    font-size: 1.5rem;
    font-family: "Lucida Console", Monospace;
    color: #040404;
    text-decoration:none;
  }
  .icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }

  .LoginAndRegister {
    display: flex;
    border-top:1em;
    font-size: 1rem;
    font-family: "Lucida Console", Monospace;
    background-color: #FFFFFF;
  }
  .LoginBut{
    position: absolute;
    right: 60%;
    background-color: #f20457; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  .RegisterBut{
    position: absolute;
    left: 62%;
    background-color: #f20457; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .menu {
    height: 2.5em;
    padding-top: 2.5em;
    border-bottom: 5px solid #f20456;
    font-size: 1.2rem;
    font-family: "Lucida Console", Monospace;
    color: #040404;
    text-decoration:none;
    display: flex;
    padding-left: 0;
  }
  .menu a:nth-child(1):before{
padding: 0;
  }
  .menu a:nth-child(2):before{
    padding: 0;
    content:"|";

  }

  .menu a:nth-child(3):before{
    padding: 0;
    content:"|";

  }
  .todolists{
    text-align: center;
  }



}
